	<H1>News category</H1>
	<%= link_to 'New news category', new_admins_type_of_news_path,class: "btn-lg btn btn-primary fas fa-plus-square "  %>
	<table class="table" id="example" style="width:100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Edit</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% @list_type_of_news.each do |type|  %>
			<tr>
				<td><%= type.name %></td>
				<td><%= link_to '',  edit_admins_type_of_news_path(type),class: "btn btn-warning fas fa-edit" %></td>
				<td>
					<div class="dropdown ">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= type.status %>
						</button>
						<div class="dropdown-menu transform-status" aria-labelledby="dropdownMenuButton">
							<% NewsTypeForShoe.statuses.to_h.except!(type.status).each do |key,value| %>
							<%= link_to key, admins_type_of_news_status_path(:status => key.to_s,:id => type.id.to_s), method: :post,
							data: { confirm: "Are you sure you want to delete the product?"},
							class: "dropdown-item " %>
							<% end %>
						</div>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
		<tfoot>
		<tr>
			<th>Name</th>
			<th>Edit</th>
			<th>Status</th>
		</tr>
		</tfoot>
	</table>
<script type="text/javascript">
dataTable = $('#example').DataTable({
stateSave: true
})
</script>