<% if user_signed_in? %>
<div  class="data-chat-user">
                <div id="setscroll" class="panel-body msg_container_base">
                    <% Message.all.where("user_id == #{current_user.id}").each do |x| %>
                    <% if x.usersend == false %>
                    <div class="row msg_container base_receive">
                        <div class="col-md-2 col-xs-2 avatar-custom">
                            
                        </div>
                        <div class="col-xs-10 col-md-10">
                            <div class="messages msg_receive">
                                <p><%= x.content %></p>
                                <time ><%= time_ago_in_words(x.created_at) %></time>
                            </div>
                        </div>
                    </div>
                    <% else %>
                    
                    <div class="row msg_container base_sent">
                        <div class="col-md-10 col-xs-10 ">
                            <div class="messages msg_sent">
                                <p><%= x.content %></p>
                                <time ><%= time_ago_in_words(x.created_at) %></time>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2 avatar">
                            <%= image_tag x.user.avatar,class: "img-responsive " %>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>
            </div>
            <%= form_for(:message ,as: :post,:remote=>true, :url => {:controller => "messages", :action => "create"}, :html => {class: "form-container user-reponstive-chat", role: "form" , :method => :POST}) do |f| %>
            <%= hidden_field_tag "user_send[usersend]", "#{true}" %>
            <%= hidden_field_tag "user_id[user_id]", "#{current_user.id}" %>
            <%= f.text_area :content, placeholder: "Type message..", autofocus: true , class: "form-container-custom", id: "usechat" %>
            <%= f.submit "Send" , class: "btn" ,id: "sendusermessage"  %>
            <% end %>
            <% end %>
            <script type="text/javascript">

        var mydiv = $("#setscroll");
            mydiv.scrollTop(mydiv.prop("scrollHeight"));
            // $("#setscroll").scrollTop(150);
  
            </script>
     