<div class="content-box-large" align="center">
	<div class="panel-body">
		<table class="table" id="voucherstable" border="1px">
			<thead>
				<tr>
					<th>
						STT
					</th>
					<th>
						name
					</th>
					<th>
						phone
					</th>
					<th>
						address
					</th>
					<th>
						pay_type
					</th>
					<th>
						payment_total + fee
					</th>
					<th>
						status
					</th>
				</tr>
			</thead>
			<% @payments.each do |v|  %>
			<tbody>
				<tr>
					<td>
						<%= v.id %>
					</td>
					<td>
						<%= v.name %>
					</td>
					<td>
						<%= v.phone %>
					</td>
					<td>
						<%= v.address %>
					</td>
					<td>
						<%= v.pay_type %>
					</td>
					<td>
						<%= number_to_currency(v.total, unit: "VNÄ", separator: ",",precision: 0, format: "%n %u") %>
					</td>
					<td id="<%= v.id %>">
						<%= v.status %>
					</td>
					<td class="changestatus" id=change<%=v.id %> >
						<%= link_to "Change", admins_payments_changestatus_path(:id => v.id), method: :put, :remote => true, :class => 'btn btn-primary',
						data: { confirm: "The status will be changed!"}%>
					</td>
					<td>
						<%= link_to "Cancel", admins_payments_cancel_payment_path(:id => v.id), method: :put, :remote => true, :class => 'btn btn-danger'%>
					</td>
				</tr>
			</tbody>
			<% end %>
			
		</table>
		<%= will_paginate @payments, :param_name => 'payments_noprocess_page' %>
	</div>
</div>
<!-- <script type="text/javascript">
	var i = 0;
	// function changeon(id,e)
	// {
//         var x = "change"+id;
//         i = e;
//         document.getElementById(x).style.display = "block";
	// }
	function update_status(id) {
					var status = 	$("#"+id).text();
		$.ajax({
url: "payments/changestatus",
type: "get",
dataType: "script",
data: { payment:{"status": status.trim(), "id" : id}}
});
// var x = "change"+id;
// document.getElementById(x).style.display = "none";
	}
</script> -->