<%= simple_form_for([:admins, @new], :url => url_for(:controller => 'news', :action => @new.new_record?? 'create' : 'update' )  ) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="form-group">
    <%= f.collection_select(:news_type_for_shoe_id, NewsTypeForShoe.all, :id, :name, {:prompt => 'Chooses Type of News'},{:class=>'form-control'} ) %>
    <br>
    <input id="seacrh_product_of_news" type="text" name="search" placeholder="Search product...">
    <div >
        <ul id="list_seacrh_products_for_news">
        </ul>
    </div>
    <div id="checkbox_product">
    </div>
    <br>
    <%= f.input :title , as: :ckeditor %>
    <%= f.input :body , as: :ckeditor%>
</div>
<div class="form-actions">
    <%= f.button :submit,class: "btn btn-primary ml-auto float-right" %>
</div>
<% end %>
<script type="text/javascript">
$("#seacrh_product_of_news").change(function() {
$.ajax({
url: "/admins/news/search_products_for_news",
type: "post",
dataType: "script",
data: {
info: {
"name": $(this).val()
}
}
});
});
function add_products(e,name) {
$("#checkbox_product").append("<div id=product" + e + " > "+name+" <input value='" + e + "' multiple='multiple' type='hidden' name='new[product_ids][]'> <button class='btn btn-danger' onclick='remove_product(" + e + ")'>x</button></div>");
$('#list_seacrh_products_for_news').empty();
}
function remove_product(e) {
if (confirm("Are you sure?") == true) {
var product_id = "#product" + e
$(product_id).remove();
}
}
</script>