<div class="jumbotron">
        <h1>Admins</h1>
        <p>This example is a quick exercise to illustrate how the default</p>
      </div>
<div class="container">
  <div class="row tile_count">
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
      <div class="count"><%=User.all.count %></div>
      <span class="count_bottom"><i class="green"><%=User.where('created_at > ?', Time.zone.now - 10.minute).count %></i> User from last 10 minutes</span><br>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> <%=User.where(gender: false).count %> Males</span> |
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> <%=User.where(gender: true).count %> Females</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Total Category</span>
      <div class="count"> <%=Category.all.count %></div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i><%=Category.where('created_at > ?', Time.zone.now - 1.days).count %></i> Category create from last 1 day.</span></span><br>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> <%=Category.where('updated_at > ?', Time.zone.now - 1.hours).count %> Category Update from last 1 hours.</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Males</span>
      <div class="count green"><%=User.all.count %></div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> <%=User.where(gender: false).count %> Males</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Females</span>
      <div class="count"><%=User.all.count %></div>
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i><%=User.where(gender: true).count %>Males</span>
    </div>
  </div>
</div>
<style>
.tile_count {
margin-bottom: 20px;
margin-top: 20px;
}
.row {
margin-right: -10px;
margin-left: -10px;
}
.row {
margin-right: -15px;
margin-left: -15px;
}
*, :after, :before {
box-sizing: border-box;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
div {
display: block;
}
@media (min-width: 992px){
.tile_count .tile_stats_count {
margin-bottom: 10px;
border-bottom: 0;
padding-bottom: 10px;
}
.tile_count .tile_stats_count {
border-bottom: 1px solid #D9DEE4;
padding: 0 10px 0 20px;
position: relative;
}
.tile_count .tile_stats_count, ul.quick-list li {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-55, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
position: relative;
min-height: 1px;
float: left;
padding-right: 10px;
padding-left: 10px;
}
.tile_count .tile_stats_count, ul.quick-list li {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
@media (min-width: 768px){
.tile_count .tile_stats_count .count {
font-size: 40px;
}

.tile_count .tile_stats_count .count {
font-size: 30px;
line-height: 47px;
font-weight: 600;
}
</style>