<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Admins</h1>
  <%= link_to ' Create', new_admin_path, class: "btn-lg btn btn-primary fas fa-plus-square "%>
  <br>
</div>
<div class="content-box-large">
  <div class="panel-body">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Create At</th>
          <th>Update At</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="gradeU">
          <td><%= @admins.first.id %><i class="fas fa-star text-warning"></i>
          </td>
          <td><%= @admins.first.email %></td>
          <td><%= @admins.first.created_at.localtime.strftime("%d/%m/%Y %T") %></td>
          <td><%= @admins.first.updated_at.localtime.strftime("%d/%m/%Y %T") %></td>
          <td><%= link_to '', edit_admin_path(@admins.first),class: "btn btn-warning fas fa-edit" %></td>
          <td>
            <%= link_to '', @admins.first, method: :delete,class: "btn btn-danger far fa-trash-alt", data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% @admins.offset(1).each do |admin| %>
        <tr class="gradeU">
          <td><%= admin.id %></td>
          <td><%= admin.email %></td>
          <td><%= admin.created_at.localtime.strftime("%d/%m/%Y %T") %></td>
          <td><%= admin.updated_at.localtime.strftime("%d/%m/%Y %T") %></td>
          <td><%= link_to '', edit_admin_path(admin),class: "btn btn-warning fas fa-edit" %></td>
          <td>
            <%= link_to '', admin, method: :delete,class: "btn btn-danger far fa-trash-alt", data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
dataTable = $('#example').DataTable({
stateSave: true
})
</script>