"<% @comments.each do |comment| %>"
$("#comment"+"<%= params[:info][:product_id] %>").append("<div class='media'> <img src=<%= url_for(comment.user.avatar) %> class='imgcomment align-self-start mr-3' > <br /> <div class='media-body bg-light-custom mt-3'> <h5 class='mt-0'><%= comment.user.lastname %> <small><i><%= time_ago_in_words(comment.updated_at) %> ago</i></small></h5> <p><%= raw comment.content %></p> </div> </div>");
"<% end %>"