<div class="login">
  <div class="container-fluid">
    <div class="row p-5">
      <div class="col-md-6 log">
        <h3 align="center" >Login</h3>
        <div class="strip"></div>
        <p>Welcome, please enter the following to continue.</p>
        <div class="logon">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, class:"usr" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class:"pwd" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <% end %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <br/>
          <%= f.submit "Log in" ,class: "btn btn-primary" %>
          <%= link_to raw("Login "+"<i class='fab fa-facebook-square '></i>"), user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
          <%= link_to raw("Login "+"<i class='fab fa-google'></i>"), user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 login-right border-left">
        <h3>New Registration</h3>
        <div class="strip"></div>
        <p>By creating an account with our store, you will be able to move through the checkout process faster,
        store multiple shipping addresses, view and track your orders in your account and more.</p>
        <%= link_to 'Create An Account',  new_user_registration_path, class: "btn btn-primary" %>
        <br>
        
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
$('#user_email').on('input', function() {
this.value = this.value.replace(/[^a-zA-Z0-9\@\.]|\s/ig,'');
});
});
</script>