	<h3 class="text-center font-weight-bold">Voucher</h3>
	<div class="w-75 m-auto p-5">
		<%= form_tag admins_vouchers_path, :remote => "true", class: "textarea", role: "form" do %>
			<%= label_tag "Number voucher want to create" %>
			<%= text_field_tag :number, "",{class: 'form-control', type: "number"} %><br>
			<%= label_tag "Expiration" %>
			<%= date_field_tag :expiration, "",{ value: Date.current,class: 'form-control'} %><br>
			<%= label_tag "Percent" %>
			<%= text_field_tag :percent,"", {class: 'form-control'} %><br>
			<div class="form-actions">
				<%= submit_tag 'Create', class: 'btn btn-success btn-block' %>
			</div>
			<% end %>
	</div>

<div class="content-box-large" align="center">
	<div class="panel-body">
		<table id="voucherstable" border="1px">
			<thead>
				<tr>
					<th>
						Payment_ID
					</th>
					<th>
						Code
					</th>
					<th>
						Percent
					</th>
					<th>
						Expiration
					</th>
				</tr>
			</thead>
			<% @vouchers.each do |v| %>
			<tbody>
				<tr>
					<td>
						<%= v.payment == nil ? " " : v.payment.id %>
					</td>
					<td>
						<%= v.code %>
					</td>
					<td>
						<%= v.percent %>
					</td>
					<td>
						<%= v.expiration %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<%= will_paginate @vouchers, :param_name => 'vouchers_page' %>
	</div>
</div>
