<section class="user pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="row" style="height:50px;">
          <div class="col-sm-3 user-avatar">
            <%= image_tag 'giay.jpg', style:"width:50px; height:50px; border-radius: 50%"%>
          </div>
          <div class="col-sm-9 username">
            <p class="mb-1"><strong><%= @user.firstname %></strong></p>
            <%= link_to '<i class="fas fa-edit" style="color:grey"> Edit my profile</i>'.html_safe, users_profile_path %>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 d-flex align-items-center" style="font-size: 15px">
            <i class="fas fa-user-circle fa-2x text-warning mr-2"></i>
            <p class="mb-0"><%= link_to 'My Account', users_profile_path, class: "sidebar-item"  %></p><br/>
          </div>
        </div>
        <div class="row user-action pt-1 pb-0 pl-3 pr-1">
          <ul class="mb-0">
            <li><%= link_to 'Profile', users_profile_path, class: "sidebar-child-item"  %></li>
            <li><%= link_to 'Change Password', edit_user_path(@user), class: "sidebar-child-item active"  %></li>
          </ul>
        </div>
        <div class="row pt-2">
          <div class="col-12 d-flex align-items-center" style="font-size: 15px">
            <i class="fas fa-list-alt fa-2x text-danger mr-2"></i>
            <p class="mb-0"><%= link_to 'Order', users_order_path, class: "sidebar-item"  %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-12 p-4" style="height:600px; background-color:white">
            <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>
              <div class="field">
                <%= f.label :password, "Password" %><br />
                <%= f.password_field :password, autocomplete: "off"  %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
              <div class="action_container mt-1">
                <%= f.submit 'Save', class:"btn btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('.sidebar-child-item').on('click', function(){
    $('.sidebar-child-item').find('.active').removeClass('active');
    $(this).addClass('active');
  });
</script>