
<div class="container" style="max-width: 40%;font-size:16px">
        <p id="notice"><%= notice %></p>
        <div class="row">
          <div class="">
              <div class="panel panel-success" >
                  <div class="panel-heading"><strong style="font-size:20px;text-align:center;">Info Category</strong></div>
                  <div class="panel-body">
                    <strong>ID:</strong>
                    <%= @category.id %><br>
                    <strong>Name:</strong>
                    <%= @category.name %><br>
                    <strong>Description:</strong>
                    <%= @category.description %><br>
                    <strong>Display in navbar:</strong>
                    <%= @category.display_in_navbar %><br>
                    <strong>Create at:</strong>
                    <%= @category.created_at %><br>
                    <strong>Update at:</strong>
                    <%= @category.updated_at %><br>
                  </div>
                </div>
          </div>
        </div>
        <%= link_to 'Edit', edit_admins_category_path(@category) %> |
        <%= link_to 'Back', admins_categories_path %>
      </div>