<div class="container">
    <h1 style="text-align:center">Edit User With Admin</h1><br>
  <%= form_for @user1 do |f| %>
 
  <div class="form-inputs">
    <%= f.text_field :email,disabled: true, class: 'form-control' %><br>
    <%= f.text_field :password, class: 'form-control', type: 'password',placeholder: "Password" %>
    <%= f.text_field :password, class: 'form-control', type: 'password',placeholder: "Password" %>
  </div>
  <br><br>
  <div class="form-actions">
    <%= submit_tag 'Update', class: 'btn btn-success btn-block' %>
  </div>
  <% end %>
  <%= link_to 'Show', admins_user_path %> |
  <%= link_to 'Back', admins_users_path %>
</div>