<div class="container-fluid" >  <p id="notice"><%= notice %></p>
  <h1>Users</h1>
<div class="content-box-large"  >
  <div class="panel-body">
    <table id="example" class="display" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Admin?</th>
          <th>Create At</th>
          <th>Update At</th>
          <th>Edit</th>
          <th>Show</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr class="gradeC">
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= user.created_at.localtime %></td>
          <td><%= user.updated_at.localtime %></td>
          <td><%= link_to '', admins_user_path(user),class: "btn btn-info fas fa-eye" %></td>
          <td><%= link_to '', edit_admins_user_path(user),class: "btn btn-warning fas fa-edit" %></td>
          <td>
              <div class="dropdown ">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= user.status %>
                </button>
                <div class="dropdown-menu transform-status" aria-labelledby="dropdownMenuButton">
                  <% Category.statuses.to_h.except!(user.status).each do |key,value| %>
                  <%= link_to key, admins_user_status_path(:status => key.to_s,:id => user.id.to_s), method: :post,
                  data: { confirm: "Are you sure you want to delete the product?"},
                  class: "dropdown-item " %>
                  <% end %>
                </div>
              </div>
          </td>
        </tr>
        <% end %>
      
      </tbody>
     
    </table>
  </div>
</div>
<script type="text/javascript">
dataTable = $('#example').DataTable({
stateSave: true
})
</script>