<%= render 'layouts/adminshome' %>
<div class="container-fluid" >
  <p id="notice"><%= notice %></p>
  <h1>Users</h1>
  <%= link_to ' Create', new_admins_user_path, class: "btn-lg btn btn-primary fas fa-plus-square "%>
  <br>
</div>
<style>
  
</style>
<div class="content-box-large"  >
  <div class="panel-body">
    <table id="example" class="display" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Admin?</th>
          <th>Create At</th>
          <th>Update At</th>
          <th>Edit</th>
          <th>Show</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |admin| %>
        <tr class="gradeC">
          <td><%= admin.id %></td>
          <td><%= admin.email %></td>
          <td><%= admin.admin %></td>
          <td><%= admin.created_at.localtime %></td>
          <td><%= admin.updated_at.localtime %></td>
          <td><%= link_to '', admin,class: "btn btn-info fas fa-eye" %></td>
          <td><%= link_to '', edit_admins_user_path(admin),class: "btn btn-warning fas fa-edit" %></td>
          <td>
            <%= link_to '', admin, method: :delete,class: "btn btn-danger far fa-trash-alt", data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      <script>
          $(document).ready(function() {
            $('#example').DataTable( {
              language: {
                searchPlaceholder: "Nhap thong tin can tim",
                search: "",
              },
                "footerCallback": function ( row, data, start, end, display ) {
                    var api = this.api(), data;
         
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
         
                    // Total over all pages
                    total = api
                        .column( 0 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
         
                    // Total over this page
                    pageTotal = api
                        .column( 0, { page: 'current'} )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
         
                    // Update footer
                    $( api.column( 0 ).footer() ).html(
                        'ID'+pageTotal +' ( ID'+ total +' total)'
                    );
                }
                
            } );
        } );
      </script>
      </tbody>
      <tfoot>
          <tr>
              <th colspan="4" style="text-align:right">Example tien Total:</th>
              <th></th>
          </tr>
      </tfoot>
    </table>
  </div>
</div>