<div class="container" style="max-width: 40%;font-size:16px">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="" style="text-align:center;">
        <div class="panel panel-success" >
            <div class="panel-heading"><strong style="font-size:20px">Info User</strong></div>
            <div class="panel-body">
              <strong>ID:</strong>
              <%= @user1.id %><br>
              <strong>Email:</strong>
              <%= @user1.email %><br>
              <strong>Create at:</strong>
              <%= @user1.created_at %><br>
              <strong>Update at:</strong>
              <%= @user1.updated_at %><br>
            </div>
          </div>
    </div>
  </div>
  <%= link_to 'Edit', edit_admins_user_path() %> |
  <%= link_to 'Back', admins_users_path %>
</div>