<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<h4>News category</h4>
			<% NewsTypeForShoe.all.each { |v| %>
			<ul class="list-group news_category_list">
				<%= link_to news_category_path(:type => v.name) do  %>
				<li class="list-group-item text-body"><%= v.name %><span class="badge float-right"><%= v.new.count %></span></li>
				<% end %>
			</ul>
			<% } %>
		</div>
		<div  class="col-lg-10">
			<h2 align="center">News</h2>
			<% @news_category.each do |v| %>
			<div class="row mt-2">
				<div class="news_before">
					<%= link_to news_path(:type => v.news_type_for_shoe != nil ? v.news_type_for_shoe.name : " " ,:title => v.title.gsub(%r{</?[^>]+?>|[^A-Za-z0-9 ]}, '')) do %>
					<%= raw v.title.gsub(/&nbsp;/i,"") %>
					<%= raw (v.body.gsub!(%r{</?[^>]+?>},''))[0..300].insert(0, '<span>').insert(-1, '...</span>').gsub(/&nbsp;/i,"")  %>
					<% end %>
				</div>
				<span class="time_news_span"><%= ((DateTime.now.to_date - v.created_at.to_date).to_i  < 1) == true ? time_ago_in_words(v.created_at) :  v.created_at.strftime("%d/%m/%Y") %></span>
			</div>
			<% end %>
		</div>
		<div class="paginate_news">
			<%= will_paginate @news_category, :param_name => 'news_category' %>
		</div>
	</div>
</div>
<br>
<script type="text/javascript">
	$(".main-news img").removeAttr('style');
	$(".news_before img").removeAttr('style');
</script>