<p id="notice"><%= notice %></p>
<h1>Brands</h1>
<%= link_to 'New Brand',  new_admins_brand_path ,class: "btn-lg btn btn-primary fas fa-plus-square " %>
<table id="example" class="table" style="width:100%">
  <thead>
    <tr>
      <th>Brand name</th>
      <th>Category</th>
      <th>Edit</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
    <tr>
      <td><%= brand.brand_name %></td>
      <td><%= Category.find(brand.category_id).name  %></td>
      <td><%= link_to '', edit_admins_brand_path(brand),class: "btn btn-warning fas fa-edit" %></td>
      <td>
        <div class="dropdown ">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= brand.status %>
          </button>
          <div class="dropdown-menu transform-status" aria-labelledby="dropdownMenuButton">
            <% Brand.statuses.to_h.except!(brand.status).each do |key,value| %>
            <%= link_to key, admins_brand_status_path(:status => key.to_s,:id => brand.id.to_s), method: :post,
            data: { confirm: "The status will be changed!"},
            class: "dropdown-item " %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Edit</th>
    <th>Status</th>
  </tr>
  </tfoot>
</table>
<script type="text/javascript">
dataTable = $('#example').DataTable({
stateSave: true
})
</script>