<p id="notice"><%= notice %></p>
<h1>Brands</h1>
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
    <tr>
      <td><%= brand.brand_name %></td>
      <td><%= Category.find(brand.category_id).name  %></td>
      <td><%= link_to 'Edit', edit_admins_brand_path(brand) %></td>
      <td><%= link_to 'Destroy', admins_brand_path(brand), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Brand',  new_admins_brand_path , class: "btn btn-primary" %>