<div style="padding-bottom:10px">
<%= simple_form_for @contact do |f| %>
  <%= f.input :name, label: 'Full Name', error: 'Username is mandatory, please specify one', placeholder: 'vinova sg'%>
  <%= f.input :email , placeholder: 'user@domain.com'%>
  <%= f.input :message, placeholder: 'Vinova. We as one!' %>
  <%= f.submit "Send", class: "btn btn-info btn-block" %>
<% end %>
 
</div>        
        
    