<% if @list_carousel.where(main: true).length != 0 %>
<div id="carouselExampleIndicators" class="carousel slide mb-1" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#carouselExampleIndicators" data-slide-to=<%= @count_carousel %> ></li>
    <% @list_carousel.where(main: false).each do |carousel| %>
    <li  data-target="#carouselExampleIndicators" data-slide-to=<%= @count_carousel = @count_carousel + 1 %> ></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <% if @list_carousel.where(main: true).first.new != nil %>
      <%= link_to news_path(:type => @list_carousel.where(main: true).first.new.news_type_for_shoe != nil ? @list_carousel.where(main: true).first.new.news_type_for_shoe.name : " " ,:title => @list_carousel.where(main: true).first.new.title.gsub(%r{</?[^>]+?>|[^A-Za-z0-9 ]}, '')) do %>
      <%= image_tag url_for(@list_carousel.where(main: true).first.image), class: "d-block image" %>
      <% end %>
      <% else %>
      <%= image_tag url_for(@list_carousel.where(main: true).first.image), class: "d-block image" %>
      <% end %>
    </div>
    <% @list_carousel.where(main: false).each do |carousel| %>
    <div class="carousel-item">
      <% if carousel.new != nil %>
      <%= link_to news_path(:type => carousel.new.news_type_for_shoe != nil ? carousel.new.news_type_for_shoe.name : " " ,:title => carousel.new.title.gsub(%r{</?[^>]+?>|[^A-Za-z0-9 ]}, '')) do %>
      <%=   image_tag url_for(carousel.image), class:"d-block image" %>
      <% end %>
      <% else %>
      <%=   image_tag url_for(carousel.image), class:"d-block image" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>
<div class="about-shop  mt-5 pt-4">
  <h3 class="text-center font-weight-bold">WELCOME TO N-AIR SHOP</h3>
  <p class="text-center welcome-text m-auto">We’re a team of creative and make amazing site in ecommerce from Unite States. We love colour pastel, highlight and simple, its make our design look so awesome</p>
  <div class="container mt-4">
    <div class="row pt-3 pb-2 about" style="height:100%">
      <div class="col-lg-4 col-sm-12">
        <div class="text-center">
          <i class="fas fa-headset fa-2x"></i>
          <h5 class="mt-1"><strong>Support 24/7</strong></h5>
          <p class="justify-content-center">Available 24 hours a day and 7 days a week</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="text-center">
          <i class="fas fa-shipping-fast fa-2x"></i>
          <h5 class="mt-1"><strong>Shipping Fast</strong></h5>
          <p class="justify-content-center">2-3 business day to ship</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="text-center">
          <i class="fas fa-check fa-2x"></i>
          <h5 class="mt-1"><strong>100% Authentic</strong></h5>
          <p class="justify-content-center">Refund 100% money if our product is fake</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <hr class="container mt-5 mb-2" />
-->
<div class="brands">
  <div class="new-product mt-5">
    <div class="container">
      <h1 class="text-center">
      <span style="font-family: time new roman, times, serif; text-shadow: 0 0 3px #080202a1">New Products</span>
      <hr align="center" class="line mb-5"></hr>
      </h1>
      <div class="owl-carousel owl-theme">
        <% Product.all.where(status: 'active').order("created_at DESC").limit(15).each do |product| %>
        <div class="card" style="width: 100%; height: 18rem">
          <%= image_tag( product.images.attached? == false ? " " : product.images.first, alt: "Product", class: "card-img-top" ) %>
          <%= link_to "View Detail",product_path(:name =>product.name),class: "show_detail", method: :get  %>
          <div class="card-body">
            <p class="card-text d-inline product-name"><strong><%= truncate(product.name, length: 20) %></strong></p>
            <p class="card-text d-inline product-price"><strong><%= number_to_currency(product.price, unit: "VNĐ", separator: ",",precision: 0, format: "%n %u") %></strong></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="brands mt-5">
    <div class="container">
      <h1 class="text-center">
      <span style="font-family: time new roman, times, serif; text-shadow: 0 0 3px #080202a1">Brands</span>
      <hr align="center" class="line mb-5"></hr>
      </h1>
      <div class="row mb-5">
        <% get_brands.each do |brand| %>
        <% if brand.image_main_brand.attached? && brand.image_effect_brand.attached? %>
        <div class="col-xs-12 col-md-6 col-lg-3 brand-item ">
          <div class="w-100 m-auto brand">
            <%= image_tag  brand.image_main_brand %>
            <div class="overlay">
              <%= link_to category_path(:name => " " ,:brand_name => brand.brand_name,:cus => " ") do  %>
              <%= image_tag brand.image_effect_brand %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
<div class="container">
  <div class="row">
    <div >
      <h2 align="center">News</h2>
      <% New.all.order("created_at desc").limit(4).each do |v| %>
      <div class="row mt-2">
        <div class="news_before" style="width: 100%;">
          <%= link_to news_path(:type => v.news_type_for_shoe != nil ? v.news_type_for_shoe.name : " " ,:title => v.title.gsub(%r{</?[^>]+?>|[^A-Za-z0-9 ]}, '')) do %>
          <%= raw v.title.gsub(/&nbsp;/i,"") %>
          <%= raw (v.body.gsub!(%r{</?[^>]+?>},''))[0..300].insert(0, '<span>').insert(-1, '...</span>').gsub(/&nbsp;/i,"")  %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<script type="text/javascript">
  $(".main-news img").removeAttr('style');
  $(".news_before img").removeAttr('style');
</script>
  <script>
  var owl = $('.owl-carousel');
  owl.owlCarousel({
  loop:true,
  margin:10,
  nav:true,
  dots: false,
  autoplay:true,
  autoplayTimeout:2000,
  autoplayHoverPause:true,
  navText: ["<i class='fa fa-angle-left fa-2x' aria-hidden='true'></i>","<i class='fa fa-angle-right fa-2x' aria-hidden='true'></i>"],
  responsive:{
  0:{
  items:1
  },
  600:{
  items:2
  },
  1000:{
  items:4
  }
  }
  });
  $('.play').on('click',function(){
  owl.trigger('play.owl.autoplay',[1000])
  })
  $('.stop').on('click',function(){
  owl.trigger('stop.owl.autoplay')
  })
  </script>