
 <div class="check">
                <div class="container">	 
                    <div class="col-md-3 cart-total">
                        <%= link_to 'Continue to Shopping', root_path, class: 'continue' %>
                        <div class="price-details">
                            <h3>Price Details</h3>
                            <span>Total</span>
                            <span class="total1">6200.00</span>
                            <span>Discount</span>
                            <span class="total1">10%(Festival Offer)</span>
                            <span>Delivery Charges</span>
                            <span class="total1">150.00</span>
                            <div class="clearfix"></div>				 
                        </div>
                        <hr class="featurette-divider">
                        <ul class="total_price">
                           <li class="last_price"> <h4>TOTAL</h4></li>	
                           <li class="last_price"><span>6150.00</span></li>
                           <div class="clearfix"> </div>
                        </ul> 
                        <div class="clearfix"></div>
                        <a class="order" href="#">Place Order</a>
                    </div>
                    <div class="col-md-9 cart-items">
                        <h1 id="countcart">My Shopping Bag (<%=get_carts.count if get_carts != nil  %>)  </h1>
                        <% get_carts.each do |item| %>
                            <script>$(document).ready(function(c) {
                                $('.close1').on('click', function(c){
                                    $('.cart-header').fadeOut('slow', function(c){
                                        $('.cart-header').remove();
                                    });
                                    });	  
                                });
                           </script>
                        <div class="cart-header">
                <div class="close1"><span  aria-hidden="true">  <%= link_to raw("&#xf068"), destroycart_path(:product_id => item['product_id'],:size => item.size),:remote => true, class: "fas"  %></span></div>
                            <div class="cart-sec simpleCart_shelfItem">
                                    <div class="cart-item cyc">
                                       <%= image_tag Product.find(item['product_id']).images.first ,class: "img-responsive gri-wid" %>
                                    </div>
                                   <div class="cart-item-info">
                                        <ul class="qty">
                                             <li><p>Product name :  <%= Product.find(item['product_id']).name %></p></li>
                                            <li><p>Size : <%= item['size'] %></p></li>
                                            <li><p>Qty : <%= item['quantity'] %></p></li>
                                            <li><p>Price : $<%= item['price'] %></p></li>
                                            <li><p>total : $<%= item['price'].to_f * item['quantity'].to_i %></p></li>
                                        </ul>
                                 <div class="delivery">
                                             <p>Service Charges : Rs.190.00</p>
                                             <span>Delivered in 2-3 bussiness days</span>
                                             <div class="clearfix"></div>
                                        </div>	
                                   </div>
                                   <div class="clearfix"></div>
                              </div>
                         </div>
                         <% end %>
                    </div>
                    <div class="clearfix"> </div>
                </div>