<div class="cart">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-lg-9 col-md-6">
        <h3>Your Shopping Bag(2)</h3>
        <% @carts.each do |item| %>
        <div id=item<%= item["product_id"]%><%= item["size"]%> class="cart-item-list border-top pt-4">
          <div class="row cart-item m-0">
            <div class="col-lg-2 p-0">
              <%=image_tag Product.find(item["product_id"]).images.first, style:"width:100%; height:150px" %>
            </div>
            <div class="col-lg-4">
              <h5><strong><%= Product.find(item["product_id"]).name %> </strong></h5>
              <p class="badge badge-primary">Brand</p>
              <p><span>Name: <%= truncate(Product.find(item["product_id"]).description, :length => 17)  %></span></p>
              <p >Size: <%= item["size"] %></p>
            </div>
            <div class="col-lg-1 p-0">
              <!-- <p>Qty: </p> -->
              <input min="1" id="changecart" onchange="checkqt(<%= item["product_id"]%>,<%= item["size"]%>,this.value);" type="number" name=item<%= item["product_id"]%><%= item["size"]%> value=<%= item["quantity"] %>  >
            </div>
            <div class="col-lg-2">
              <p>Price: <%= item["price"] %>$</p>
            </div>
            <div class="col-lg-2 p-0">
              <p>SubTotal: <%= item["price"].to_i*item["item"].to_i %>$</p>
            </div>
            <div class="col-lg-1 p-0">
              <!--     link_to '<i class="fas fa-minus"></i>'.html_safe, destroycart_path(item), method: :delete, data: { confirm: "Delete this order?"} %>
              <a href="#" class="btn btn-danger">
              <i class="fas fa-times"></i></a> -->
              <input id=btn<%= item["id"] %> class="btn btn-danger" onclick="deleteitemcart(<%= item["product_id"]%>,<%= item["size"]%>);" type="button" value="x" >
            </div>
          </div>
        </div>
        <% end %>
        <% if get_carts != nil%>
        <div class="container">
          <%= render 'products/related_product_from_cart' , products: related_product_from_cart %>
        </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6 border-left">
        <h3>ORDER SUMMARY</h3>
        <!--         <p class="pt-4 border-top">Total:  @total %>$</p>
        -->        <h4 id="total_carts" class="border-top">TOTAL: <%= @total %>$ </h4>
        <%= link_to "PROCEED TO CHECKOUT",new_payment_path(), class: "btn btn-dark w-100" %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#changecart').on('input', function() {
this.value = this.value.replace(/[^\d]/g, '');
if(this.value ==""){
this.value= 1;
}
});
function deleteitemcart(id, s) {
if (confirm("You will lost this item")) {
$("#item" + id + s).fadeOut('1000', function(c) {
$("#item" + id + s).remove();
});
$.ajax({
url: "/carts/destroycart",
type: "post",
dataType: "script",
data: {
item: {
"id": id,
"size": s
}
}
});
}
}
function checkqt(id, s, qt) {
if (parseInt(qt) < 1) {
$('input[name=item' + id + "" + s + ']').val(1);
}
$.ajax({
url: "/carts/changeqt",
type: "post",
dataType: "script",
data: {
item: {
"id": id,
"size": s,
"qt": qt
}
}
});
}
</script>