
 <div class="check">
                <div class="container">	 
                    <div class="col-md-3 cart-total">
                        <%= link_to 'Continue to Shopping', root_path, class: 'continue' %>
                        <div class="price-details">
                            <h3>Price Details</h3>
                            <span>Total</span>
                            <span class="total1"><%= @cart.total_price %></span>
                            <span>Discount</span>
                            <span class="total1">10%(Festival Offer)</span>
                            <span>Delivery Charges</span>
                            <span class="total1">150.00</span>
                            <div class="clearfix"></div>				 
                        </div>
                        <hr class="featurette-divider">
                        <ul class="total_price">
                           <li class="last_price"> <h4>TOTAL</h4></li>	
                           <li class="last_price"><span><%= @cart.total_price %></span></li>
                           <div class="clearfix"> </div>
                        </ul> 
                        <div class="clearfix"></div>
                        <%= link_to 'Place Order', new_payment_path, class: "order" %>
                    </div>
                    <div class="col-md-9 cart-items">
                        <h1 id="countcart">My Shopping Bag (<%= @cart.cart_products.count if @cart != nil  %>)  </h1>
                        
                        <% i = 1 %>
                        <% @cart.cart_products.each do |item| %>
                            <script>$(document).ready(function(c) {
                                $('.close<%= i %>').on('click', function(c){
                                    $('.cart-header<%= i if i > 1%>').fadeOut('slow', function(c){
                                        $('.cart-header<%= i %>').remove();
                                    });
                                    });	  
                                });
                           </script>
                            <div class="cart-header<%= i if i > 1 %>">
                                <div class="close<%= i %>"><span  aria-hidden="true">  <%= link_to '<i class="fas fa-minus"></i>'.html_safe, destroycart_path(:product_id => item['product_id'],:size => item.size),:remote => true, class: "fas"  %></span></div>
                                <% i = i + 1 %>
                                <div class="cart-sec simpleCart_shelfItem">
                                    <div class="cart-item cyc">
                                       <%= image_tag Product.find(item['product_id']).images.first ,class: "img-responsive" %>
                                    </div>
                                    <div class="cart-item-info">
                                        <ul class="qty">
                                            <li><p>Product name:  <%= Product.find(item['product_id']).name %></p></li>
                                            <li><p>Size: <%= item['size'] %></p></li>
                                            <li><p>Qty: <%= item['quantity'] %></p></li>
                                            <li><p>Price: $<%= item['price'] %></p></li>
                                            <li><p>Total: $<%= item['price'].to_f * item['quantity'].to_i %></p></li>
                                        </ul>
                                        <div class="delivery">
                                            <p>Service Charges : Rs.190.00</p>
                                            <span>Delivered in 2-3 bussiness days</span>
                                            <div class="clearfix"></div>
                                        </div>	
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                             </div>
                         <% end %>
                    </div>
                    <div class="clearfix"> </div>
                </div>