<div class="cart">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-9 col-md-6">
        <h3>Your Shopping Bag(<%= @carts.count %>)</h3>
        <% @carts.each do |item| %>
        <div id=item<%= item["product_id"]%><%= item["size"]%> class="cart-item-list border-top pt-4">
          <div class="row cart-item m-0">
            <div class="col-lg-2 p-0">
              <%=image_tag Product.find(item["product_id"]).images.first, style:"width:100%; height:150px" %>
            </div>
            <div class="col-lg-4">
              <h5><strong><%= Product.find(item["product_id"]).name %> </strong></h5>
              <p class="badge badge-primary"><%= Product.find(item["product_id"]).brand.brand_name %></p>
              <p><span>Description: <%= truncate(Product.find(item["product_id"]).description, :length => 50)  %></span></p>
              <p >Size: <%= item["size"] %></p>
            </div>
            <div class="col-lg-1 p-0">
              <!-- <p>Qty: </p> -->
              <input min="1" id="changecart" onchange="checkqt(<%= item["product_id"]%>,<%= item["size"]%>,this.value);" type="number" name=item<%= item["product_id"]%><%= item["size"]%> value=<%= item["quantity"] %>  >
            </div>
            <div class="col-lg-2">
              <p>Price: <%= number_to_currency( item["price"], unit: "VNĐ", separator: ",",precision: 0, format: "%n %u")%></p>
            </div>
            <div class="col-lg-2 p-0">
              <p>SubTotal: <%= number_to_currency(item["price"].to_i*item["quantity"].to_i, unit: "VNĐ", separator: ",",precision: 0, format: "%n %u" ) %></p>
            </div>
            <div class="col-lg-1 p-0">
              <!--     link_to '<i class="fas fa-minus"></i>'.html_safe, destroycart_path(item), method: :delete, data: { confirm: "Delete this order?"} %>
              <a href="#" class="btn btn-danger">
              <i class="fas fa-times"></i></a> -->
              <input id=btn<%= item["id"] %> class="btn btn-danger media-btn-close-cart" onclick="deleteitemcart(<%= item["product_id"]%>,<%= item["size"]%>);" type="button" value="x" >
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6 border-left">
        <h3>ORDER SUMMARY</h3>
        <!--         <p class="pt-4 border-top">Total:  @total %>$</p>
        -->        <h4 id="total_carts" class="border-top">TOTAL:
        <%= number_to_currency(@total, unit: "VNĐ", separator: ",",precision: 0, format: "%n %u") %> </h4>
        <%= link_to "PROCEED TO CHECKOUT",new_payment_path(), class: "btn btn-dark w-100" %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#changecart').on('input', function() {
  this.value = this.value.replace(/[^\d]/g, '');
  if(this.value == "" || this.value == 0){
  this.value= 1;
  }
});

function deleteitemcart(id, s) {
  if (confirm("Are your sure to delete this item from cart?")) {
    $("#item" + id + s).fadeOut('1000', function(c) {
      $("#item" + id + s).remove();
      });
    $.ajax({
      url: "/carts/destroycart",
      type: "post",
      dataType: "script",
      data: {
        item: {
        "id": id,
        "size": s
        }
      }
    });
}
}
function checkqt(id, s, qt) {
if (parseInt(qt) < 1 || parseInt(qt) == 0) {
$('input[name=item' + id + "" + s + ']').val(1);
}
$.ajax({
url: "/carts/changeqt",
type: "post",
dataType: "script",
data: {
item: {
"id": id,
"size": s,
"qt": qt
}
}
});
}
</script>