<!-- <div class="container pt-5">
  <div class="row cart">
    <div class="col-lg-9 col-md-8">
      <div class="row border-bottom">
        <h3>Your Shopping Bag (0)</h3>
      </div>
      <div class="row">
        <div class="cart-item border-bottom">
          <div class="row pt-2">
            <div class="col-lg-2">
              <%= image_tag "slide.jpg", style:"width: 100%; height: 150px" %>
            </div>
            <div class="col-lg-8 pl-3">
              <p><strong>Product 001</strong></p>
              <p>Size: 36</p>
              <p>QTY: 1</p>
              <p>Price: 200$</p>
            </div>
            <div class="col-lg-2">
              <p>Total: 200$</p>
            </div>
          </div>
        </div>
        <div class="cart-item border-bottom">
          <div class="row pt-2">
            <div class="col-lg-2">
              <%= image_tag "slide.jpg", style:"width: 100%; height: 150px" %>
            </div>
            <div class="col-lg-8 pl-3">
              <p><strong>Product 001</strong></p>
              <p>Size: 36</p>
              <p>QTY: 1</p>
              <p>Price: 200$</p>
            </div>
            <div class="col-lg-2">
              <p>Total: 200$</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="col-lg-3 col-md-4">
        
    </div> 
  </div>
</div>      -->

<!-- <div class="container">
  <table class="mt-5 w-100 table table-hover">
    <thead>
      <tr class="d-flex">
        <th class="col-5">Product</th>
        <th class="col-2">QTY</th>
        <th class="col-2">Unit Price</th>      
        <th class="col-2">Sub Total</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex">
        <td class="col-5">
          <%= image_tag "slide.jpeg", style: "width: 120px; height:120px" %>
          <p class="d-inline"><strong>Product 001</strong></p>
        </td>
        <td class="col-2">5 columns wide content</td>
        <td class="col-2">4 columns wide content</td>
        <td class="col-2">4 columns wide content</td>
        <td class="col-1">
          <a href="#"><i class="fas fa-times fa-2x" style="color: red"></i></a>
        </td>  
      </tr>
    </tbody>
  </table>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <table class="table table-hover w-100 mt-5">
        <thead>
          <tr>
              <th>Product</th>
              <th>Size</th>
              <th>Quantity</th>
              <th class="text-center">Unit Price</th>
              <th class="text-center">Sub Total</th>
              <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td class="col-md-4">
              <div class="media">
                  <a class="thumbnail pull-left" href="#"> 
                    <%= image_tag "slide.jpeg", class:"media-object", style:"width: 150px; height: 150px" %>
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading"><a href="#">Product 001</a></h4>
                      <h5 class="media-heading"><a href="#">Brand name</a></h5>
              </div>
              </td>
              <td class="col-md-2" style="text-align: center">
              <input type="email" class="form-control" id="exampleInputEmail1" value="35">
              </td>
              <td class="col-md-2" style="text-align: center">
              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
              </td>
              <td class="col-md-2 text-center"><strong>$4.87</strong></td>
              <td class="col-md-1 text-center"><strong>$14.61</strong></td>
              <td class="col-md-1">
              <button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span> Remove
              </button></td>
          </tr>
          <tr>
              <td class="col-md-4">
              <div class="media">
                  <a class="thumbnail pull-left" href="#"> 
                    <%= image_tag "slide.jpeg", class:"media-object", style:"width: 150px; height: 150px" %>
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading"><a href="#">Product name</a></h4>
                      <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                  </div>
              </div></td>
              <td class="col-md-2" style="text-align: center">
              <input type="email" class="form-control" id="exampleInputEmail1" value="35">
              </td>
              <td class="col-md-2" style="text-align: center">
              <input type="email" class="form-control" id="exampleInputEmail1" value="2">
              </td>
              <td class="col-md-2 text-center"><strong>$4.99</strong></td>
              <td class="col-md-1 text-center"><strong>$9.98</strong></td>
              <td class="col-md-1">
              <button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span> Remove
              </button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td><h5>Subtotal<br>Estimated shipping</h5><h3>Total</h3></td>
              <td class="text-right"><h5><strong>$24.59<br>$6.94</strong></h5><h3>$31.53</h3></td>
          </tr>
          <tr>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td>
              <button type="button" class="btn btn-secondary"> Continue Shopping
              </button></td>
              <td>
              <button type="button" class="btn btn-success">
                  Checkout <span class="glyphicon glyphicon-play"></span>
              </button></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div> -->


<div class="cart">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-lg-9 col-md-6">
        <h3>Your Shopping Bag(2)</h3>
       <% @carts.each do |item| %>
        <div class="cart-item-list border-top pt-4">
          <div class="row cart-item m-0">
            <div class="col-lg-2 p-0">
              <%=image_tag Product.find(item.product_id).images.first, style:"width:100%; height:150px" %>
            </div>
            <div class="col-lg-4">
              <h5><strong><%= Product.find(item.product_id).name %> </strong></h5>
              <p class="badge badge-primary">Brand</p>
              <p><span>Name: <%= truncate(Product.find(item.product_id).description, :length => 17)  %></span></p>
              <p>Size: <%= item.size %></p>
            </div>
            <div class="col-lg-1 p-0">
              <p>Qty: <%= item.quantity %></p>
            </div>
            <div class="col-lg-2">
              <p>Price: <%= item.price %>$</p>
            </div>
            <div class="col-lg-2 p-0">
              <p>SubTotal: <%= item.price.to_i*item.quantity.to_i %>$</p>
            </div>
            <div class="col-lg-1 p-0">
            <!--     link_to '<i class="fas fa-minus"></i>'.html_safe, destroycart_path(item), method: :delete, data: { confirm: "Delete this order?"} %>
              <a href="#" class="btn btn-danger">
                <i class="fas fa-times"></i></a> -->
                  <input id=btn<%= item.id %> class="btn btn-primary" onclick="deleteitemcart(<%= item.id %>);" type="button" value="Detail">
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6 border-left">
        <h3>ORDER SUMMARY</h3>
        <p class="pt-4 border-top">Total: <%= @total %>$</p>
        <h4 class ="border-top">TOTAL: <%= @total %>$ </h4>
        <a href="#" class="btn btn-dark w-100">PROCEED TO CHECKOUT</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function deleteitemcart(v) {
    if($('#btn'+v).val() == "x")
    {     
        // $('#showdetail'+v).css("display", "none");
        //  $('#showdetail'+v).empty();
        // $('#showdetail'+v).css("display", "none");
        //  $('#btn'+v).attr('value', 'Detail');
        // $( '#btn'+v ).removeClass( "btn-danger" );
        // $( '#btn'+v ).addClass(  "btn-primary");
    }
    else{
       $.ajax({
      url: "/carts/destroycart",
      type: "post",
      dataType: "script",
      data: { item: {"id": v}}
      });
    }
   
}
</script>
