<div class="container">
    <div class="row">
        <div class=col-12>
            <div class="pay-form w-50">
                <h1 class="text-center">Payment</h1>
                <%= form_for(@payment, :html => {:id => 'payment-form'}) do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, :class => 'form-control',:onclick => "removesearch();" %>
                </div>
                <div class="form-group">
                    <%= f.label :phone %>
                    <%= f.text_field :phone, :class => 'form-control',:onclick => "removesearch();" %>
                </div>
                <div class="form-group">
                    <%= f.label :address %>
                    <%= f.text_area :address, :class => 'form-control',:onkeyup => "search(this.value);" ,:onclick => "removesearch();" %>
                    <ul id="datasearch">
                    </ul>
                </div>
                <div class="form-group">
                    <%= collection_select(:province, :province_id, TransportCost.all,:id, :province,{:prompt => 'Please choose province for shipping fee of your'}) %>
                </div>
                <div class="form-group">
                    <%= f.label :voucher %>
                    <%= f.text_field :voucher, :class => 'form-control', id: "voucher" %>
                </div>
                <div class="form-group">
                    <%= f.label 'Payment Type' %>
                    <%= f.select :pay_type, Payment.pay_types.keys, {},:class => 'form-control' %>
                </div>
                <div class="form-group">
                    <label id="lbl-number">Card Number</label>
                    <input type="text" size="20" autocomplete="off" data-stripe="number" id="number" class="card-number form-control" placeholder = "**** **** **** ****" value = "4242424242424242" pattern="[\d ]*" />
                </div>
                <div class="form-group">
                    <label id="lbl-cvc">Security Code/CVC</label>
                    <input type="text" size="20" autocomplete="off" data-stripe="cvc" id="cvc" class="card-number form-control" placeholder = "**** **** **** ****" value = "4242424242424242" pattern="[\d ]*" />
                </div>
                <div class="form-group">
                    <label id="lbl-month">Expiration (MM/YYYY)</label>
                    <input type="text" size="2" data-stripe="exp_month" id="exp-month" class="card-expiry-month form-control" placeholder="MM" pattern="\d*" />
                    <span id="lbl-year"> / </span>
                    <input type="text" size="4" data-stripe="exp_year" id="exp-year" class="card-expiry-year form-control" placeholder="YYYY" pattern="\d*" />
                </div>
                <div class="form-group">
                    <label><strong>Total Price: <h3 id="total"><%= Cart.where(user_id: current_user.id).sum{|item|item.price*item.quantity} %>$</h3></strong></label>
                </div>
                <div class="form-group">
                    <label>Ship: <h3 id="ship"> </h3></label>
                </div>
                <div class="actions">
                    <%= f.submit 'Place order', :class => 'btn btn-primary btn-payment' %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<!-- validate card credit information -->
<script>
function hideCC(){
  $("#number").hide();
    $("#cvc").hide();
    $("#exp-month").hide();
    $("#exp-year").hide();
    $("#lbl-number").hide();
    $("#lbl-cvc").hide();
    $("#lbl-month").hide();
    $("#lbl-year").hide();
}

jQuery(function($) {
    hideCC();
    $("#payment_pay_type").change(function() {
        var value = $("#payment_pay_type").val()
        if (value == "atm") {
            $("#number").fadeIn(1000);
            $("#cvc").fadeIn(1000);
            $("#exp-month").fadeIn(1000);
            $("#exp-year").fadeIn(1000);
            $("#lbl-number").fadeIn(1000);
            $("#lbl-cvc").fadeIn(1000);
            $("#lbl-month").fadeIn(1000);
            $("#lbl-year").fadeIn(1000);
            var show_error, stripeResponseHandler;
            stripeResponseHandler = function(status, response) {
                var $form, token;
                $form = $("#payment-form");
                if (response.error) {
                    show_error(response.error.message);
                    $form.find("input[type=submit]").prop("disabled", false);
                } else {
                    token = response.id;
                    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                    $form.get(0).submit();
                }
                return false;
            };
            show_error = function(message) {
                $("#flash-messages").html('<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><div id="flash_alert">' + message + '</div></div>');
                $('.alert').delay(5000).fadeOut(3000);
                return false;
            };
            $("#payment-form").submit(function(event) {
                var $form;
                $form = $(this);
                $form.find("input[type=submit]").prop("disabled", true);
                Stripe.card.createToken($form, stripeResponseHandler);
                return false;
            });
        } else {
            hideCC();
        }
    });
});
</script>
<script>

$(function() {
    $('#payment_phone').on('input', function() {
        this.value = this.value.replace(/[^\d]/g, '');
    });
    $('#payment_name').on('input', function() {
        this.value = this.value.replace(/[^A-Z]/ig, '');
    });
    $('#payment_address').on('input', function() {
        this.value = this.value.replace(/[^A-Z0-9\,\/\zàáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ\ ]/ig, '');
    });
});

function removesearch() {
    $('#datasearch li').remove();
}

function search(e) {
    $.ajax({
        url: "/places/changestatus",
        type: "post",
        dataType: "script",
        data: {
            search: {
                "address": e
            }
        }
    });
}
$("#datasearch").on("click", "li", function(e) {
    $('#datasearch li').remove();
    $("#payment_address").val($(this).attr("value"));
    $.ajax({
        url: "/places/changestatus",
        type: "post",
        dataType: "script",
        data: {
            location: {
                "address": $(this).attr("value")
            }
        }
    });
});
$("#province_province_id").change(function() {
    $.ajax({
        url: "/payments/transport_cost",
        type: "post",
        dataType: "script",
        data: {
            info: {
                "id": $(this).val()
            }
        }
    });
});
</script>
<script>
function invalidCode(blah) {
  $('#voucher').css("border-color", "red");
}
  $('#voucher').keyup(function() {
    c =  $('#voucher').val();
    if(c && c.length == 14){
      $.ajax({
        url: "/vouchers/validate",
        dataType: "json",
        data: {
          price: $('#total').text().replace('$',''),
          code: c
        },
        type: "get",
        success: function(result){
          if (result["valid"]) {
            $('#voucher').css("border-color", "green");
            $('#total').text(result["discounted_price"]);
          } else {
            invalidCode();
          };
        }
      })
    } else {
      invalidCode();
    };
  });
</script>