
<div class="container" style="text-align:center;max-width: 40%;font-size:16px">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="" style="text-align:left;">
      <div class="panel panel-success">
        <div class="panel-heading"><strong style="font-size:20px">Info Categories</strong></div>
        <div class="panel-body">
          <strong>ID:</strong>
          <%= @category.id %><br>
          <strong>Name:</strong>
          <%= @category.name %><br>
          <strong>Description:</strong>
          <%= @category.description %><br>
          <strong>Display in navbar:</strong>
          <%= @category.display_in_navbar %><br>
          <strong>Create at:</strong>
          <%= @category.created_at %><br>
          <strong>Update at:</strong>
          <%= @category.updated_at %><br>
        </div>
      </div>
    </div>
  </div>
 
</div>

<%= render 'products/product', obj: @category.products %>

