<div class="menu-chat">
	<div class="back"><%= link_to raw("&#xf053"), messages_path , class: "fa "  %> <%= image_tag @messages[0].user.avatar%></div>
	<div class="name"><%= @messages[0].user.firstname %></div>
	<div class="last"><%= time_ago_in_words(@messages.last.created_at) %></div>
</div>

<ol id="admin_chat" class="chat">
	<% @messages.each do |v|  %>
	<% if v.usersend == true%> 
	<li class="other">                        
		<div class="avatar"><%= image_tag v.user.avatar%></div>
		<div class="msg">
			<p><%= v.content %></p>
			<time><%= time_ago_in_words(v.created_at) %></time>
		</div>
	</li>
	<% else %>
	<li class="self">
		<div class="avatar"></div>
		<div class="msg">
			<p><%= v.content %></p>
			<time><%= time_ago_in_words(v.created_at) %></time>
		</div>
	</li>
	<% end %>
	<% end %>
</ol>
<%= form_for([:admins,@message] ,as: :post,:remote=>true, :url => {:controller => "admins/messages", :action => "create"}, :html => {class: "textarea", role: "form" , :method => :POST}) do |f| %>
            <%= hidden_field_tag "user_send[usersend]", "#{false}" %>
             <%= hidden_field_tag "user_id[user_id]", "#{@messages[0].user.id}" %>
            <%= f.text_area :content, placeholder: "Type message..", autofocus: true , class: "form-container-custom",id: "adminchat" %>
            <%= f.submit "Send" , class: "btn pull-right"  %>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){

    $('html, body').animate({
        scrollTop: $("#adminchat").offset().top
    }, 2000);

		})
</script>
