<div class="menu-chat">
	<div class="back"><%= link_to raw("&#xf053"), admins_messages_path , class: "fa "  %> <%= image_tag @messages[0].user.avatar%></div>
	<div class="name"><%= @messages[0].user.firstname %></div>
	<div class="last"><%= time_ago_in_words(@messages.last.created_at) %></div>
</div>

<ol id=admin_chat<%= @messages[0].user.id %> class="chat">
	<% if Message.all.where("user_id=?", @messages[0].user.id).count > 10 %>
	<div id="btn-loadmessage" align="center" class="mt-3">
        <button  id="loadmessage" class="btn btn-info">More</button>
     </div>
     <% end %>
	<% @messages.each do |v|  %>
	<% if v.usersend == true%> 
	<li class="other">                        
		<div class="avatar"><%= image_tag v.user.avatar%></div>
		<div class="msg">
			<p><%= raw v.content %></p>
			<time><%= time_ago_in_words(v.created_at) %></time>
		</div>
	</li>
	<% else %>
	<li class="self">
		<div class="avatar"></div>
		<div class="msg">
			<p><%= raw v.content %></p>
			<time><%= time_ago_in_words(v.created_at) %></time>
		</div>
	</li>
	<% end %>
	<% end %>
</ol>
<%= form_for([:admins,@message] ,as: :post,:remote=>true, :url => {:controller => "admins/messages", :action => "create"}, :html => {class: "textarea", role: "form" , :method => :POST}) do |f| %>
            <%= hidden_field_tag "user_send[usersend]", "#{false}" %>
             <%= hidden_field_tag "user_id[user_id]", "#{@messages[0].user.id}" %>
            <%= f.text_area :content, placeholder: "Type message..", autofocus: true , class: "form-container-custom-admin",id: "adminchat" %>
            <%= f.submit raw("&#xf1d8") , class: "btn pull-right fa text-primary right-icon-plane"  %>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){

    $('html, body').animate({
        scrollTop: $("#adminchat").offset().top
    }, 2000);

		})
</script>
<script type="text/javascript">
		  var count_message = 1; 
		     $( "#loadmessage" ).click(function() {
	      count_message = count_message + 5;
	      var user_id = "<%= @messages[0].user.id %>";
	       $.ajax({
	       url: "/admins/messages/watchedmore",
	       type: "post",
	       dataType: "script",
	       data: { info: { "offset": count_message,"user_id": user_id }}
	       });
	  });
</script>
