"<% @messages.each do |message| %>"
  "<% if message.usersend == true  %>"
    $( "<li class='other'> <div class='avatar'><img src=<%= url_for(message.user.avatar) %>  ></div> <div class='msg'> <p><%= raw message.content %></p> <time><%= time_ago_in_words(message.created_at) %></time> </div> </li>" ).insertAfter( "#btn-loadmessage" );
   "<% else %>"
    $( "<li class='self'> <div class='avatar'></div> <div class='msg'> <p><%= raw message.content %></p> <time><%= time_ago_in_words(message.created_at) %></time> </div> </li>" ).insertAfter( "#btn-loadmessage" );
  "<% end %>"
"<% end %>"
