<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Products</h1>
  <%= link_to 'New Products', new_admins_product_path,class: "btn-lg btn btn-primary fas fa-plus-square " %>
  <div class="content-box-large">
    <div class="panel-body">
      <table  id="example">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Category</th>
            <th>Picture</th>
            <th></th>
            <th></th>
            <th></th>
            
          </tr>
        </thead>
        <tbody>
          number_to_currency(product.price, unit: "VND", separator: ",",precision: 0, format: "%n %u")
          <% @product.each do |product| %>
          <tr class="gradeU">
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td>
              <% product.stocks.each do |stock| %>
                <%= stock.size %><br>
              <% end %>
            </td>
            <td>
              <% product.stocks.each do |stock| %>
                <%= stock.quantity %><br>
              <% end %>
            </td>
            <td><%= product.description %></td>
            <td><%= product.category_id %></td>
            <td>
              <div class="row">
              
                <div class="col-sm-3">
                  <%= image_tag product.images.attached? == true ? product.images.first : " " ,class: "img-thumbail",style:"width:100px"%>
                </div>
             
              </div>
            </td>
            <td><%= link_to '', admins_product_path(product), class: "btn btn-info fas fa-eye" %></td>
            <td><%= link_to '', edit_admins_product_path(product), class: "btn btn-warning fas fa-edit" %></td>
            <td>
              <%= link_to "", admins_product_path(product), method: :delete,
              data: { confirm: "Are you sure you want to delete the product?"},
              class: "btn btn-danger far fa-trash-alt" %>
            </td>
            
          </tr>
          <% end %>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="10" style="text-align:left">Example Total:</th>
          <th style="text-align:right"></th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>