<div class="products-gallery">
    <div class="container">
        <div class="col-md-9 grid-gallery">
            <div class="col-md-12" style="min-height: 450px">
            <% obj.each do |pro| %>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                <div class="ih-item square effect3 bottom_to_top">
                    <div class="bottom-2-top">
                        <div class="img">
                            <% if pro.images.attached? %>
                            <%= image_tag pro.images.first ,class: "img-responsive gri-wid" %>
                             <% end %>
                        </div>  
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3><%= pro.name %></h3>
                            </div>
                            <div class="pull-right styl-price">
                                <p><a href="#" class="item_add"><span
                                            class="fa fa-shopping-cart grid-cart"
                                            aria-hidden="true"></span> <span class=" item_price"><%= pro.price %> VND</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
                <div class="quick-view">
                    <%= link_to "Quick View", product_path(pro) %>
                </div>
            </div>
            <% end %>
            </div>
            <div class="clearfix"></div>
            <div class="text-center"><%= will_paginate obj %></div>
        </div>
        <div class="col-md-3 grid-details">
            <div class="grid-addon">
                <section class="sky-form">
                    <div class="product_right">
                        <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories
                        </h4>
                        <div class="tab1">
                            <% Category.all.each do |cat| %>
                            <h5 class="sort">
                                <%= link_to cat.name, category_path(cat) %>
                            </h5>
                            <% end %>
                        <!--script-->
                        <script>
                            $(document).ready(function () {
                                $(".tab1 .single-bottom").hide();
                                $(".tab2 .single-bottom").hide();
                                $(".tab3 .single-bottom").hide();
                                $(".tab4 .single-bottom").hide();
                                $(".tab5 .single-bottom").hide();

                                $(".tab1 ul").click(function () {
                                    $(".tab1 .single-bottom").slideToggle(300);
                                    $(".tab2 .single-bottom").hide();
                                    $(".tab3 .single-bottom").hide();
                                    $(".tab4 .single-bottom").hide();
                                    $(".tab5 .single-bottom").hide();
                                })
                                $(".tab2 ul").click(function () {
                                    $(".tab2 .single-bottom").slideToggle(300);
                                    $(".tab1 .single-bottom").hide();
                                    $(".tab3 .single-bottom").hide();
                                    $(".tab4 .single-bottom").hide();
                                    $(".tab5 .single-bottom").hide();
                                })
                                $(".tab3 ul").click(function () {
                                    $(".tab3 .single-bottom").slideToggle(300);
                                    $(".tab4 .single-bottom").hide();
                                    $(".tab5 .single-bottom").hide();
                                    $(".tab2 .single-bottom").hide();
                                    $(".tab1 .single-bottom").hide();
                                })
                                $(".tab4 ul").click(function () {
                                    $(".tab4 .single-bottom").slideToggle(300);
                                    $(".tab5 .single-bottom").hide();
                                    $(".tab3 .single-bottom").hide();
                                    $(".tab2 .single-bottom").hide();
                                    $(".tab1 .single-bottom").hide();
                                })
                                $(".tab5 ul").click(function () {
                                    $(".tab5 .single-bottom").slideToggle(300);
                                    $(".tab4 .single-bottom").hide();
                                    $(".tab3 .single-bottom").hide();
                                    $(".tab2 .single-bottom").hide();
                                    $(".tab1 .single-bottom").hide();
                                })
                            });
                        </script>
                        <!-- script -->
                    </div>
                </section>
               
                <!---->
                <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
                <script type="text/javascript">//<![CDATA[ 
                    $(window).load(function () {
                        $("#slider-range").slider({
                            range: true,
                            min: 0,
                            max: 400000,
                            values: [2500, 350000],
                            slide: function (event, ui) {
                                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                            }
                        });
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

                    });//]]>  

                </script>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
 