

<%= render 'layouts/navtop' %>
<%= render 'layouts/breadcum' %>
<%= get_carts.inspect %>

<%= get_carts.inspect %>



<div class="showcase-grid">
    <div class="container">
        <div class="col-md-8 showcase">
            <div class="flexslider">
                <ul class="slides">
                <% @product.images.each do |img| %>   
                    <li data-thumb="<%= image_tag img %>">
                        <div class="thumb-image"> <img src="<%=image_tag img%>" data-imagezoom="true"
                        class="img-responsive"> </div>
                    </li>
                 <% end %>
                    </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 showcase">
            <div class="showcase-rt-top">
                <div class="pull-left shoe-name">
                    <h3><%= @product.name%></h3>
                    <p>Men's running shoes</p>
                    <h4><%= number_to_currency(@product.price, unit: "VND", separator: ",",precision: 3, format: "%n %u") %></h4>
                </div>
                <div class="pull-left rating-stars">
                    <ul>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                        aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                        aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                        aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr class="featurette-divider">
    <div class="shocase-rt-bot">
        <div class="float-qty-chart">
            <ul>
                <%= form_for(:addcart,as: :post,:remote=>true, :url => {:controller => "carts", :action => "create"}, :method => :POST) do |a| %>
                <div class="form-group">
                  <%= hidden_field_tag "product_id", [@product.id] %>
                   <%= hidden_field_tag "price", [@product.price] %>
                    <%= a.select :size,options_for_select((35..43).to_a, " "),{}, { :class => "form-control qnty-chrt" } %>
                </div>
                <div class="form-group">
                    <%= a.select :quantity,options_for_select((1..@product.quantity.to_i).to_a, " " ),{}, { :class => "form-control qnty-chrt" } %>
                </div>
                <div class="form-group">
                    <ul>
                        <li class="ad-2-crt simpleCart_shelfItem">
                             <%= a.submit "Add To Cart", class: "btn item_add" %>                            
                            <a class="btn" href="#" role="button">Buy Now</a>
                        </li>
                    </ul>
                </div>
                <% end %>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<%= render  "layouts/newsub" %>
<%= render 'layouts/footer' %>
      
    <div class="showcase-last">
        <h3>product details</h3>
        <p><%= @product.description%></p>
    </div>
</div>
<div class="clearfix"></div>
</div>
</div>
