<br>
<div class="container-fluid " >
    <div class="row" >
        <div class="col-md-7" >
            <div class="image-show-center">
                <img id="showlarge" src=<%= url_for(@product.images.first) %> data-imagezoom="true" class="img-responsive carousel-fade" draggable="false">
            </div>
            <div class="image-list-show ">
                <% i = 0 %>
                <% @product.images.each do |image| %>
                <%= image_tag image,id: "show#{i}",:onClick => "showpictrue(#{i})".html_safe , class: "prenex-image" %>
                <% i = i + 1 %>
                <% end %>
            </div>
        </div>
        <div class="col-md-5">
            <div class="showcase-rt-top">
                <div class="pull-left shoe-name">
                    <h3><%= @product.name%></h3>
                    <p>Men's running shoes</p>
                    <h4><%= number_to_currency(@product.price, unit: "VND", separator: ",",precision: 0, format: "%n %u") %></h4>
                </div>
                <div class="pull-left rating-stars">
                    <ul>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                        aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                        aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                        aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr class="featurette-divider">
    <div class="shocase-rt-bot">
        <div class="float-qty-chart">
            
            <%= form_for(:addcart,as: :post,:remote=>true, :url => {:controller => "carts", :action => "create"}) do |a| %>
            <div class="form-group btn-center">
                <%= hidden_field_tag "product_id", [@product.id] %>
                
                <%= a.select :size,options_for_select((35..43).to_a, " "),{}, { :class => "form-control-product-show qnty-chrt" } %>
                <% @product.stocks.each do |stock| %>
                <% if stock.quantity <= 10 %>
                <%= a.select :quantity,options_for_select((1..stock.quantity.to_i).to_a, " " ),{}, { :class => "form-control-product-show qnty-chrt" } %>
                <% else %>
                <%= a.select :quantity,options_for_select((1..10), " " ),{}, { :class => "form-control-product-show qnty-chrt" } %>
                <% end %>
                <% end %>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group btn-center">
                
                <%= a.submit "Add To Cart", class: "btn btn-primary" %>
                
            </div>
            <% end %>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="showcase-last">
        <h3>Details</h3>
        <p><%= @product.description%></p>
    </div>
</div>
</div>
</div>
</div>
<% if @Related_products.count != 0 %>
<div class="container">
    <%= render 'related_products' , products: @Related_products %>
</div>
<% end %>
<% if true %>
    <div class="container mt-3">
    <h3>News About Products</h3>
        <%= render 'news/related_news_product' , obj: @list_news %>
    </div>
<% end %>
</div>
<div class="container">
<%= render 'comments/new' , product_id: @product.id %>
</div>
<script type="text/javascript">
var saveshow = "";

function showpictrue(i) {
    clearTimeout(myVar);
    if (saveshow != "") {
        document.getElementById(saveshow).style.opacity = 1;
    }
    var x = "show" + i;
    saveshow = x;
    document.getElementById(x).style.opacity = 0.3;
    showlarge.src = document.getElementById(x).src;
    nextimg = i;
    myVar = setTimeout(function() {
        imagesilder(nextimg)
    }, 13000);
}
var nextimg = 0

function imagesilder(nextimg) {
    console.log(nextimg);
    var end = parseInt("<%= i %>");
    if (saveshow != "") {
        document.getElementById(saveshow).style.opacity = 1;
    }
    if (nextimg < end) {
        imgnext(nextimg);
        nextimg++;
        myVar = setTimeout(function() {
            imagesilder(nextimg)
        }, 7000);
    } else {
        nextimg = 0
        myVar = setTimeout(function() {
            imagesilder(nextimg)
        }, 7000);
    }
}

function imgnext(i) {
    if (saveshow != "") {
        document.getElementById(saveshow).style.opacity = 1;
    }
    $("#showlarge").fadeOut(900);
    var x = "show" + i;
    saveshow = x;
    document.getElementById(x).style.opacity = 0.3;
    // setTimeout(function(){ $("#showlarge").fadeIn(1000) }, 1000);
    $("#showlarge").fadeIn(1200);
    showlarge.src = document.getElementById(x).src;
}
$(window).load(function() {
    imagesilder(nextimg);
});
</script>