
if (parseInt("<%= @search.length %>") > 0){
	$('#datasearch li').remove();
	 x = "<%= @search %>";
	"<% @search.each do |v|  %>"
	$( "#datasearch" ).append( "<li value='<%= v %>'  ><%= v %></li> "  );
	"<% end %>"
}

if("<%= @place.name %>" != ""){
$("#place_name").val("<%= @place.name %>");
}


