<nav id="admin-sidebar">
  <div class="admin-sidebar-header pl-3 pr-3 pt-3">
        <h4 class="text-center font-weight-bold">N-Air Shop</h5>
  </div>
  <ul class="list-unstyled components pl-3 pr-3">
    <h5 class="text-center font-weight-bold"> Management System</h5>
    <hr style="border: 0.6px solid white; margin-top: 5px"> <hr/>
    <li class="active">
      <%= link_to '<i class="fas fa-home"></i> Home'.html_safe, admins_homepage_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-user"></i> User'.html_safe, admins_users_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-list"></i> Category'.html_safe, admins_categories_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-ellipsis-v"></i> Brand'.html_safe, admins_brands_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-box-open"></i> Product'.html_safe, admins_products_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-money-bill"></i> Order'.html_safe, admins_payments_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-box"></i> Voucher'.html_safe, admins_vouchers_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-comment"></i> Comment'.html_safe, new_admins_comment_path %>
    </li>
    <li>
      <%= link_to '<i class="far fa-comment-dots"></i> Messages'.html_safe, admins_messages_path %>
    </li>
    <li>
      <%= link_to '<i class="fas fa-map-marker"></i> District'.html_safe, admins_provinces_path %>
    </li>
    <li>
      <%= link_to '<i class="far fa-newspaper"></i> News'.html_safe,  admins_news_index_path %>
    </li>
    <li>
      <%= link_to '<i class="far fa-newspaper"></i> Type of news'.html_safe,  admins_type_of_news_index_path %>
    </li>
      <li>
      <%= link_to '<i class="fas fa-images"></i> Carousel'.html_safe, admins_carousels_path %>
    </li>
     <li>
      <%= link_to '<i class="fas fa-database"></i> Database'.html_safe,  admins_process_data_path %>
    </li>
     <li>
     <%= link_to '<i class="fas fa-users-cog"></i> Admins'.html_safe,admins_path %>
    </li>
    <li><%= link_to 'Log Out', destroy_admin_session_path,method: :delete %></li>
  </ul>
</nav>

<script>
  $('#admin-sidebar .list-unstyled li a').click(function(){
    $('#admin-sidebar .list-unstyled').find('li.active').removeClass('active');
    $(this).parent('li').addClass('active');
  });
</script>