
<% if user_signed_in? %>
<div class="container-fluid ">
  <div id="repohide" class="arrow">
    <%= button_tag raw("&#xf075"), :onclick => "openForm();" ,:remote => true, class: "open-button fa" , id: "chat-on" %>
    <div class="chat-popup" id="myForm">
      <div  class="data-chat">
        <div id="setscroll" class="panel-body msg_container_base">
          <% if Message.find_by(user_id: current_user.id) %>
          <% Message.all.where("user_id=?", current_user.id).each do |x| %>
          <% if x.usersend == false %>
          <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar-custom">
              
            </div>
            <div class="col-xs-10 col-md-10">
              <div class="messages msg_receive">
                <p><%= x.content %></p>
                <time ><%= time_ago_in_words(x.created_at) %></time>
              </div>
            </div>
          </div>
          <% else %>
          
          <div class="row msg_container base_sent">
            <div class="col-md-10 col-xs-10 ">
              <div class="messages msg_sent">
                <p><%= x.content %></p>
                <time ><%= time_ago_in_words(x.created_at) %></time>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
              <%= image_tag x.user.avatar,class: "img-responsive " %>
            </div>
          </div>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
      <%= form_for(:message ,as: :post,:remote=>true, :url => {:controller => "/messages", :action => "create"}, :html => {class: "form-container", role: "form" , :method => :POST}) do |f| %>
      <%= hidden_field_tag "user_send[usersend]", "#{true}" %>
      <%= hidden_field_tag "user_id[user_id]", "#{current_user.id}" %>
      <%= f.text_area :content, placeholder: "Type message..", autofocus: true , class: "form-container-custom", id: "usechat" %>
      <%= f.submit "Send" , class: "btn" ,id: "sendusermessage"  %>
      <% end %>
      <%= button_tag "X", :onclick => "closeForm();" ,class: "btn cancel"  %>
    </div>
  </div>
</div>
<% end %>





<footer>
  <div class="bg-dark">
    <div class="container pt-3">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h6 style="color: #fff; letter-spacing: 2px"><span>ABOUT</span></h6>
          <p class="text-justify" style="color: #757570">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae magna vitae ipsum feugiat ultrices. Phasellus ultricies elementum tincidunt. Ut congue malesuada dui, a dictum tortor auctor ac. In ut efficitur lectus, laoreet congue odio. Quisque nec tincidunt felis. Maecenas posuere nec odio ornare vestibulum. Quisque eu est dictum enim convallis vehicula id sit amet odio. Ut volutpat sapien mi.

          Proin bibendum varius justo ut efficitur. Aliquam imperdiet ex tincidunt sapien scelerisque vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam non justo in leo eleifend gravida. Donec rhoncus ipsum nec iaculis ultrices. Nam at elit malesuada, sollicitudin sem vel, pulvinar diam. Curabitur eu gravida urna, rhoncus vehicula tortor.
          </p>
        </div>
        <div class="col-xs-12 col-md-3">
           <h6 style="color: #fff; letter-spacing: 2px"><span>CATEGORIES</span></h6>
           <ul class="categories"style="">
             <a href="#" class="cat-item"><li>Adidas</li></a>
             <a href="#" class="cat-item"><li>Nike</li></a>
             <a href="#" class="cat-item"><li>Converse</li></a>
             <a href="#" class="cat-item"><li>Vans</li></a>
           </ul>
        </div>
        <div class="col-xs-12 col-md-3">
           <h6 style="color: #fff; letter-spacing: 2px"><span>QUICK LINKS</span></h6>
           <ul class="categories"style="">
             <a href="#" class="cat-item"><li>About Us</li></a>
             <a href="#" class="cat-item"><li>Contact Us</li></a>
             <a href="#" class="cat-item"><li>Privacy Policy</li></a>
           </ul>
        </div>
      </div>
              <hr/>

      <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
         <a href="#" class="creator">Geogre</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a id="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a id="twitter" href="#"><i class="fab fa-twitter"></i></i></a></li>
              <li><a id="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>    
    </div>
  </div>
</footer>



  <script type="text/javascript">
  
  function myFunction(x) {
  if (x.matches) { // If media query matches
  
  document.getElementById("repohide").style.display = "none";
  }
  if(!x.matches)
  {
  document.getElementById("repohide").style.display = "inherit";
  }
  }
  var x = window.matchMedia("(max-width: 640px)")
  myFunction(x) // Call listener function at run time
  x.addListener(myFunction)
  document.getElementById("myForm").style.display = "none";
  function openForm() {
  document.getElementById("myForm").style.display = "block";
  document.getElementById("chat-on").style.display = "none";
  var mydiv = $("#setscroll");
  mydiv.scrollTop(mydiv.prop("scrollHeight"));
  // $("#setscroll").scrollTop(150);
  }
  function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("chat-on").style.display = "block";
  }
  </script>