<nav class="pt-1">
  <div class="container">
    <div class="row first-nav">
      <div class="w-100">
        <div class="col-sm-7  col-lg-4 col-xs-12 float-left p-0">
          <i class="fas fa-phone"><span class="ml-1">0909999999 |</span></i>
          <i class="fas fa-envelope"><span class="ml-1">example@gmail.com</span></i>
        </div>
        <% if !user_signed_in? %>
        <div class="col-sm-5 col-lg-4 col-xs-12 float-right p-0 first-right">
          <i class="fas fa-shopping-bag cart mr-2"><span class="cart-text badge-danger">0</span></i> |
          <i class="fas fa-user ml-1">
            <span class="ml-1"><%= link_to 'My Account', new_user_session_path %></span>
          </i> |
          <i class="fas fa-envelope ml-1">
            <span class="ml-1"><%= link_to 'Sign Up', new_user_registration_path %></span>
          </i>
        </div>
        <% else %>
        <div class="col-sm-5 col-lg-4 col-xs-12 float-right p-0 first-right">
          <i class="fas fa-shopping-bag cart mr-2"><span class="cart-text badge-danger">0</span></i> |
          <i>
          <%= image_tag current_user.avatar, style:"width: 14px; height: 14px; border-radius: 50%" %>
            <span class="ml-1"><%= link_to current_user.firstname, users_profile_path, style:"font-weight:900" %></span>
          </i> |
          <i class="fas fa-envelope ml-1">
            <span class="ml-1"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></span>
          </i>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'N-AIR SHOP', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item mr-3">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Category.all.each do |cat| %>
            <%= link_to cat.name, category_path(cat), class:"dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item mr-3">
          <%= link_to 'About', about_path, class:"nav-link" %>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="search" style="width: 270px; position:relative;">
        <%= form_tag products_path, method: :get, class:"form-inline my-2 my-lg-0 float-right"  do %>
          <%= text_field_tag :search,'', {class:"form-control", id:"search_input", type:"search", placeholder: "Enter name of product"} %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<script>
  $(document).ready(function(){
    $("#search_input").autocomplete({
      source: '/search',
      minLength: 1,
      autoFocus: true,
      open: function() {
        $("ul.ui-menu").width($(this).innerWidth());
      },
      focus: function(event, ui) {
        $('#search_input').val(ui.item.name);
      },
      select: function(event, ui) {
        $('#search_input').val(ui.item.name);
      }
    });
    $("#search_input").data("ui-autocomplete")._renderItem = function (ul, item) {
      return $('<li/>', {'data-value': item.value}).append($('<a/>', {href: "products/"+item.id})
                                                   .append(item.value))
                                                   .appendTo(ul);
    };
  });
    </script>
  


