<nav class="pt-1">
  <div class="container">
    <div class="row first-nav">
      <div class="w-100">
        <div class="col-sm-7  col-lg-4 col-xs-12 float-left p-0">
          <i class="fas fa-phone"><span class="ml-1">0909999999 |</span></i>
          <i class="fas fa-envelope"><span class="ml-1">example@gmail.com</span></i>
        </div>
        <div class="col-sm-5 col-lg-4 col-xs-12 float-right p-0 first-right">
          <%= link_to carts_path do %>
          <% if user_signed_in? == false %>
          <i class="fas fa-shopping-bag cart mr-2 text-secondary">
          <span class="cart-text badge-danger"><%= session[:cart] == nil ? 0 : session[:cart].count %></span></i> |
          <% else %>
          <i class="fas fa-shopping-bag cart mr-2 text-secondary">
          <span class="cart-text badge-danger"><%= Cart.where(user_id: current_user.id).count == 0 ? 0 : Cart.where(user_id: current_user.id).count %></span></i>
          <% end %>
          <% end %>
          <% if user_signed_in? %>
          <i>
          <%= image_tag current_user.avatar, style:"width: 14px; height: 14px; border-radius: 50%" %>
          <span class="ml-1"><%= link_to current_user.firstname, users_profile_path, style:"font-weight:900" %></span>
          </i> |
          <i class="fas fa-envelope ml-1">
          <span class="ml-1"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></span>
          </i>
          <% else %>
          <i class="fas fa-user ml-1">
          <span class="ml-1"><%= link_to 'My Account', new_user_session_path %></span>
          </i> |
          <i class="fas fa-envelope ml-1">
          <span class="ml-1 ">
            <%= link_to "Sign In",new_user_session_path , class: "text-secondary" %>
          </span>
          </i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'N-AIR SHOP', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item mr-3">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% Category.all.each do |cat| %>
            <% if cat.products.count != 0  %>
            <li class="dropdown-submenu">
              <%= link_to cat.name, category_path(:name => cat.name ,:brand_name => " ",:cus => " "), class: "dropdown-item dropdown-toggle" %>
              <ul class="dropdown-menu">
                <% Brand.where(category_id: cat.id).each do |brand| %>
                <% if brand.products.count != 0  %>
                <li class="dropdown-submenu">
                  <%= link_to brand.brand_name.gsub(cat.name,''), category_path(:name => cat.name ,:brand_name => brand.brand_name,:cus => " "), class: "dropdown-item dropdown-toggle" %>
                  <ul class="dropdown-menu">
                    <% Brand.find(brand.id).products.group(:customer).count.each do |key,value| %>
                    <% if cat.brands.find(brand.id).products.where(customer: key.to_s).count != 0 %>
                    <li> <%= link_to key, category_path(:name => cat.name ,:brand_name => brand.brand_name,:cus => key), class: "dropdown-item " %>
                    </li>
                    <% end %>
                    <% end %>
                  </ul>
                </li>
                <% end %>
                <% end %>
              </ul>
            </li>
            <% end %>
            <% end %>
          </ul>
        </li>
        <!-- woman -->
        
        <li class="nav-item mr-3">
          <%= link_to 'News',  news_index_path, class:"nav-link" %>
        </li>
        <li class="nav-item mr-3">
          <%= link_to 'About', about_path, class:"nav-link" %>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="search" style="width: 270px; position:relative;">
        <%= form_tag products_path, method: :get, class:"form-inline my-2 my-lg-0 float-right"  do %>
        <%= text_field_tag :search,'', {class:"form-control", id:"search_input", type:"search", placeholder: "Enter name of product"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</nav>
<script>
$(document).ready(function(){
$("#search_input").autocomplete({
source: '/search',
minLength: 1,
autoFocus: true,
open: function() {
$("ul.ui-menu").width($(this).innerWidth());
},
focus: function(event, ui) {
$('#search_input').val(ui.item.name);
},
select: function(event, ui) {
$('#search_input').val(ui.item.name);
}
});
$("#search_input").data("ui-autocomplete")._renderItem = function (ul, item) {
return $('<li/>', {'data-value': item.value}).append($('<a/>', {href: "products/"+item.name})
.append(item.value))
.appendTo(ul);
};
});
// $(document).ready(function(){
// if (!window.matchMedia("(max-width: 990px)").matches == true) {
// $('.dropdown-submenu a.test').hover(
// function(e) {
// var x = window.matchMedia("(max-width: 990px)")
// if (!x.matches == true) {
// $('.aaa').css("display", "none");
// } else {
// $('.aaa').css("display", "block");
// }
// $(this).next('ul').toggle(500);
// $(this).next('ul').next('li').hiden(;
// e.stopPropagation();
// e.preventDefault();
// },
// function() {
// }
// );
// } else {
// $('.dropdown-submenu a.test').on("click", function(e) {
// $(this).next('ul').toggle();
// e.stopPropagation();
// e.preventDefault();
// });
// }
// });
// $('.dropdown-lv3 a.testdrop').hover(
//             function(e) {
//                   $(this).next('ul').toggle(500);
//                  e.stopPropagation();
//                 e.preventDefault();
//             },
//             function() {
//                                           // $('.dropdown-lv3 >.dropdown-menu').slideDown(1500);
//             }
//         );
// $('.nav-item').hover(
//     function(e) {
//         if ($('.dropdown-menu.aaa').css('display') == 'block') {
//                   $('.dropdown-menu.aaa').css('display','none');
//                    $('.dropdown-lv3 >.dropdown-menu').css('display','none');
//         }
//     },
//     function() {
//     }
// );
// $( ".navbar-toggler-icon" ).click(function() {
//   if($("#navbarNav").hasClass("show")){
//       $('#navbarNav').removeClass('show');
//        $("#navbarNav").hide();
//   }else{
//     }
// });
</script>