<!-- <div class="feel-fall">
    <div class="container">
        <div class="pull-left fal-box">
            <div class=" fall-left">
                <h3>Fall</h3>
                 image_tag("f-l.png",class:"img-responsive fl-img-wid")%>
                <p>Inspiration and innovation<br> for every athlete in the world</p>
                <span class="fel-fal-bar"></span>
            </div>
        </div>
        <div class="pull-right fel-box">
            <div class="feel-right">
                <h3>Feel</h3>
                 image_tag("f-r.png",class:"img-responsive fl-img-wid")%>
                <p>Inspiration and innovation<br> for every athlete in the world</p>
                <span class="fel-fal-bar2"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->
<% i = 0 %>
<% Category.all.each do |v| %>
 <div class="shop-grid">
 <div class="container topfivenew" id="viewtopcategory<%=i%>"
    onmouseover="mouseOver(<%=i%>)" onmouseout="mouseOut(<%=i%>)">
     <h1>Product <b class="new<%=i%>" >New</b> For Category <%= v.name %></h1>
 </div>
 <% i= i + 1%>
 <br>
     <div  class="container">
 <% Product.all.where("category_id = ?", v.id).order("id DESC").limit(3).each do |p|  %>

        <div class="col-md-4 grid-stn simpleCart_shelfItem">
            <!-- normal -->
            <div class="ih-item square effect3 bottom_to_top">
                <div class="bottom-2-top">
                    <div class="img"><%= image_tag(p.images[0],class:"img-responsive gri-wid")%></div>
                    <div class="info">
                        <div class="pull-left styl-hdn">
                            <h3><%= p.name %></h3>
                        </div>
                        <div class="pull-right styl-price">
                            <p><a href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart"
                                        aria-hidden="true"></span> <span class=" item_price">$<%= p.price %></span></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end normal -->
            <div class="quick-view">
                    <%= link_to "Quick View", product_path(p) %>
            </div>
        </div>
 <% end %>
     </div>
             <div class="clearfix"></div>
<% end %>
 </div>
<script type="text/javascript">
    function mouseOver(i) {
      $(".new"+i).fadeOut(1000);
    $(".new"+i).fadeIn("slow");
}

// function mouseOut(i) {
//  $(".new"+i).fadeOut(1000);
//     $(".new"+i).fadeIn("slow");
// }

// $( document ).ready(function() {

       var newp = "<%= Category.all.count %>";
       i = 0;
       while(i < newp){
           document.getElementsByClassName("new"+i)[0].style.color = "#be6565";
        i++;
       }
 
// })
</script>