<section class="user pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="row" style="height:50px;">
          <div class="col-sm-3 user-avatar">
            <%= image_tag @user.avatar.attached? == true ? @user.avatar : 'giay.jpg', style:"width:50px; height:50px; border-radius: 50%"%>
          </div>
          <div class="col-sm-9 username">
            <p class="mb-1"><strong><%= @user.firstname %></strong></p>
            <%= link_to '<i class="fas fa-edit" style="color:grey"> Edit my profile</i>'.html_safe, users_profile_path %>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 d-flex align-items-center" style="font-size: 15px">
            <i class="fas fa-user-circle fa-2x text-warning mr-2"></i>
            <p class="mb-0"><%= link_to 'My Account', users_profile_path, class: "sidebar-item" %></p><br/>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 d-flex align-items-center" style="font-size: 15px">
            <i class="fas fa-list-alt fa-2x text-danger mr-2"></i>
            <p class="mb-0"><%= link_to 'Order', users_order_path, class: "sidebar-item"  %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row" style="background-color: white; height: 60px">
          <div class="col-12">
            <div class="row text-center" id="status-bar">
              <div class="col-3 status-item status-active">
                <%= link_to 'In Progressing', users_order_path(status: 0), remote: true %>
              </div>
              <div class="col-3 status-item">
                <%= link_to 'Shipping', users_order_path(status: 1), remote: true %>
              </div>
              <div class="col-3 status-item">
                <%= link_to 'Completed', users_order_path(status: 2), remote: true %>
              </div>
              <div class="col-3 status-item">
                <%= link_to 'Cancelled', users_order_path(status: 3), remote: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5 p-5" style="background-color: white; min-height: 400px">
          
            <div class="container-fluid">
              <div id="order-detail">
                <%= render 'order', obj: @payments %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('#status-bar .status-item a').on('click', function(){
    $('#status-bar').find('div.status-active').removeClass('status-active');
    $(this).parent('div').addClass('status-active');
  });
</script>