<section class="user pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="row" style="height:50px;">
          <div class="col-sm-3 user-avatar">
            <%= image_tag 'giay.jpg', style:"width:50px; height:50px; border-radius: 50%"%>
          </div>
          <div class="col-sm-9 username">
            <p class="mb-1"><strong><%= @user.firstname %></strong></p>
            <%= link_to '<i class="fas fa-edit" style="color:grey"> Edit my profile</i>'.html_safe, users_profile_path %>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 d-flex align-items-center" style="font-size: 15px">
            <i class="fas fa-user-circle fa-2x text-warning mr-2"></i>
            <p class="mb-0"><%= link_to 'My Account', users_profile_path, class: "sidebar-item"  %></p><br/>
          </div>
        </div>
        <div class="row user-action pt-1 pb-0 pl-3 pr-1">
          <ul class="mb-0">
            <li><%= link_to 'Profile', users_profile_path, class: "sidebar-child-item active"  %></li>
            <li><%= link_to 'Change Password', edit_user_path(@user), class: "sidebar-child-item"%></li>
          </ul>
        </div>
        <div class="row pt-2">
          <div class="col-12 d-flex align-items-center" style="font-size: 15px">
            <i class="fas fa-list-alt fa-2x text-danger mr-2"></i>
            <p class="mb-0"><%= link_to 'Order', users_order_path, class: "sidebar-item"  %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-12 p-4" style="height:600px; background-color:white">
            <h4 pb-0>My Profile</h4>
            <p>Manange profile to secure account</p>
            <hr/>
            <div class="row">
              <div class="col-8 border-right">
                <div class=row>
                  <div class="col-2">
                    <p class="text-right">Name:</p>
                  </div>
                  <div class="col-10"><%= "#{@user.firstname} #{@user.lastname}" %></div>
                </div>
                <div class=row>
                  <div class="col-2">
                    <p class="text-right">Email:</p>
                  </div>
                  <div class="col-10"><%= @user.email %></div>
                </div>
                <%= form_for @user,:url => user_registration_path(@user), :method => :put do |f| %>
                <div class=row>
                  <div class="col-2">
                    <p class="text-right">Phone:</p>
                  </div>
                  <div class="col-10"><%=f.text_field :phone %></div>
                </div>
                <div class=row>
                  <div class="col-2">
                    <p class="text-right">Address:</p>
                  </div>
                  <div class="col-10"><%= f.text_field :address%></div>
                </div>
                <div class=row>
                  <div class="col-2">
                    <p class="text-right">Gender:</p>
                  </div>
                  <div class="col-10">
                    <%= f.radio_button :gender, true  %>
                    <%= f.label :gender, "Male", :value => "true"  %>
                    <%= f.radio_button :gender, false %>
                    <%= f.label :gender, "Female", :value => "false" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-10"><%= f.submit 'Save', class:"btn btn-danger" %></div>
                </div>
                <% end %>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center">
                <div>
                  <label for="file-input">
                    <%= image_tag @user.avatar,id: "a", style:"width: 100px;height:100px;border-radius:50%"%>
                  </label>
                  <%= form_tag(users_change_avatar_path,method: :post, multipart: true) do %>
                    <%= hidden_field_tag "user_id", @user.id %>
                  <%= file_field_tag "avatar", id:"file-input" ,accept: 'image/jpeg,image/png'%>
                  <%= submit_tag "Change",class: 'btn btn-lg btn-secondary mt-2' %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$('.sidebar-child-item').on('click', function(){
$('.sidebar-child-item').find('active').removeClass('active');
$(this).addClass('active');
});
</script>
<script type="text/javascript">
$( document ).ready(function() {
var resetinput = $('#file-input');
resetinput.replaceWith(resetinput.val('').clone(true));
// $('.fa-exchange').hover(function(){
//       $(this).fadeOut( 100 );
//         $(this).fadeIn( 500 );
// });
$('#file-input').change(function () {
if (this.files && this.files[0]) {


if( checkTypeimg(this.files[0].type) == false){
var input = $('#file-input');
alert("only image type jpeg,png");
input.replaceWith(input.val('').clone(true));
document.getElementById("a").src = "";
return;
}
var reader = new FileReader();
reader.onload = function (e) {
$('#a').attr('src', e.target.result);
}
reader.readAsDataURL(this.files[0]);
}
});
function checkTypeimg(type){
switch (type) {
case "image/png":
return true;
break;
case "image/jpeg":
return true;
break;
default:
return false
break;
}
}
})
</script>