<div class="container">
  <h1 align="center">P r o f i l e</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="showprofile " colspan="3"><%= image_tag(@user.avatar,class: "img",id: "a")%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="3" class="showprofile ">First name : <%= @user.firstname %></th>
      </tr>
      <tr>
        <th colspan="3" class="showprofile ">Last name : <%= @user.lastname %></th>
      </tr>
      <tr>
        <th colspan="3" class="showprofile ">Gender : <%= @user.gender == false ? "Female" : "Male" %></th>
      </tr>
      <tr>
        <th colspan="3" class="showprofile ">Address : <%= @user.address %></th>
      </tr>
      <tr>
        <th colspan="3" class="showprofile ">Phone : <%= @user.phone %></th>
      </tr>
      <tr>
        <th colspan="3" class="showprofile ">Email : <%= @user.email %></th>
      </tr>
      <tr>
        <th colspan="3" class="showprofile "><%= link_to "Edit Profile",edit_user_registration_path,class: "btn btn-primary"  %></th>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <h1 >History payment</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Phone</th>
        <th>Address</th>
        <th>Status</th>
        <th>Pay type</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |k| %>
      <tr>
        <td><%= k.phone %> </td>
        <td><%= k.address %></td>
        <td><%= k.status %></td>
        <td><%= k.pay_type %></td>
        <td id=<%=k.id%> >
          <input id=btn<%= k.id %> class="btn btn-primary" onclick="showdetailpayment(<%= k.id %>);" type="button" value="Detail">
            <div class="showdetail " id=showdetail<%=k.id %> >
           
            </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="showhistorypayments ">
    <%= will_paginate @payments , renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
  </div>
</div>
<script type="text/javascript">
function showdetailpayment(v) {
    if($('#btn'+v).val() == "x")
    {     
        $('#showdetail'+v).css("display", "none");
         $('#showdetail'+v).empty();
        $('#showdetail'+v).css("display", "none");
         $('#btn'+v).attr('value', 'Detail');
        $( '#btn'+v ).removeClass( "btn-danger" );
        $( '#btn'+v ).addClass(  "btn-primary");
    }
    else{
       $.ajax({
    url: "/payments/paymentdetail",
    type: "post",
    dataType: "script",
    data: { payment: {"payment_id": v}}
    });
    }
   
}
</script>